Source: lxtask
Section: x11
Priority: extra
Maintainer: Debian LXDE Maintainers <lxde-debian@lists.lxde.org>
Uploaders:
 Andrew Lee (李健秋) <ajqlee@debian.org>,
 Nikolas Poniros <edhunter@sidux.com>, Daniel Baumann <daniel@debian.org>
Build-Depends:
 debhelper (>= 9), autotools-dev, intltool, libglib2.0-dev, libgtk2.0-dev
Standards-Version: 3.9.3
Homepage: http://www.lxde.org/
Vcs-Browser: http://git.lxde.org/gitweb/?p=debian/lxtask.git
Vcs-Git: git://git.lxde.org/git/debian/lxtask.git

Package: lxtask
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: process manager for Lightweight X11 Desktop Environment
 A GUI application for monitoring and controlling running processes.
